$font-family: 'Open Sans', Arial, sans-serif;

$green: #34C759;
$orange: #E6B127;
$red: #F06A4D;
$firm: #9873FF;
$grey: #C8C5D1;
$grey_light: #E7E5EB;
$txt_grey: #B0B0B0;
$black: #333333;
$bg: #F5F5F5;
$fiol: #8052FF;