<%- include('../layout/header.ejs', { page: 'main' }) %>
  <section class="people">
    <div class="wrapper">
      <h1 class="title people__title">Клиенты</h1>
      <div class="people__table">
        <div class="people__table-header people__table-id">
          <span class="people__table-button" data-sort="id">
            ID
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.49691e-07 4L0.705 4.705L3.5 1.915L3.5 8L4.5 8L4.5 1.915L7.29 4.71L8 4L4 -3.49691e-07L3.49691e-07 4Z" fill="#9873FF"/>
            </svg>
          </span>
        </div>
        <div class="people__table-header">
          <span class="people__table-button" data-sort="fio">
            Фамилия Имя Отчество
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.49691e-07 4L0.705 4.705L3.5 1.915L3.5 8L4.5 8L4.5 1.915L7.29 4.71L8 4L4 -3.49691e-07L3.49691e-07 4Z" fill="#9873FF"/>
            </svg>
          </span>
        </div>
        <div class="people__table-header">
          <span class="people__table-button" data-sort="create">
            Дата и время создания
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.49691e-07 4L0.705 4.705L3.5 1.915L3.5 8L4.5 8L4.5 1.915L7.29 4.71L8 4L4 -3.49691e-07L3.49691e-07 4Z" fill="#9873FF"/>
            </svg>
          </span>
        </div>
        <div class="people__table-header">
          <span class="people__table-button" data-sort="update">
            Последние изменения
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.49691e-07 4L0.705 4.705L3.5 1.915L3.5 8L4.5 8L4.5 1.915L7.29 4.71L8 4L4 -3.49691e-07L3.49691e-07 4Z" fill="#9873FF"/>
            </svg>
          </span>
        </div>
        <div class="people__table-header">Контакты</div>
        <div class="people__table-header">Действия</div>
        <div class="people__table-preloader">
          <div class="loader">
            <svg class="loader__circle">
              <circle r="45" cx="50" cy="50">
            </svg>
          </div>
        </div>
      </div>
      <button class="button people__add" id="people__add" disabled>
        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.5 8C16.71 8 18.5 6.21 18.5 4C18.5 1.79 16.71 0 14.5 0C12.29 0 10.5 1.79 10.5 4C10.5 6.21 12.29 8 14.5 8ZM5.5 6V3H3.5V6H0.5V8H3.5V11H5.5V8H8.5V6H5.5ZM14.5 10C11.83 10 6.5 11.34 6.5 14V16H22.5V14C22.5 11.34 17.17 10 14.5 10Z" fill="#9873FF"/>
        </svg>      
        Добавить клиента
      </button>
    </div>
  </section>
  <div id="modal" class="modal">
    <div class="modal__wrap">
      <div class="modal__close">
        <span class="modal__close-line"></span>
        <span class="modal__close-line"></span>
      </div>
      <div class="modal__content">
        
      </div>
    </div>
  </div>
  <template id="form-surname">
    <div class="modal__input-wrapp req-input">
      <input class="modal__input" placeholder=" " name="surname">
      <label class="modal__input-label">Фамилия</label>
    </div>
  </template>
  <template id="form-name">
    <div class="modal__input-wrapp req-input">
      <input class="modal__input" placeholder=" " name="name">
      <label class="modal__input-label">Имя</label>
    </div>
  </template>
  <template id="form-lastname">
    <div class="modal__input-wrapp">
      <input class="modal__input" placeholder=" " name="lastname">
      <label class="modal__input-label">Отчество</label>
    </div>
  </template>
  <template id="title">
    <h2 class="modal__title"></h2>
  </template>
  <template id="cancel">
    <button class="button-light cancel" type="button">Отмена</button>
  </template>
  <template id="save">
    <button class="button-bg save" type="button">Сохранить</button>
  </template>
  <template id="remove">
    <button class="button-bg remove" type="button">Удалить</button>
  </template>
  <template id="addContact">   
    <button class="button-bold addContact" type="button"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.00001 3.66665C6.63334 3.66665 6.33334 3.96665 6.33334 4.33331V6.33331H4.33334C3.96668 6.33331 3.66668 6.63331 3.66668 6.99998C3.66668 7.36665 3.96668 7.66665 4.33334 7.66665H6.33334V9.66665C6.33334 10.0333 6.63334 10.3333 7.00001 10.3333C7.36668 10.3333 7.66668 10.0333 7.66668 9.66665V7.66665H9.66668C10.0333 7.66665 10.3333 7.36665 10.3333 6.99998C10.3333 6.63331 10.0333 6.33331 9.66668 6.33331H7.66668V4.33331C7.66668 3.96665 7.36668 3.66665 7.00001 3.66665ZM7.00001 0.333313C3.32001 0.333313 0.333344 3.31998 0.333344 6.99998C0.333344 10.68 3.32001 13.6666 7.00001 13.6666C10.68 13.6666 13.6667 10.68 13.6667 6.99998C13.6667 3.31998 10.68 0.333313 7.00001 0.333313ZM7.00001 12.3333C4.06001 12.3333 1.66668 9.93998 1.66668 6.99998C1.66668 4.05998 4.06001 1.66665 7.00001 1.66665C9.94001 1.66665 12.3333 4.05998 12.3333 6.99998C12.3333 9.93998 9.94001 12.3333 7.00001 12.3333Z" fill="#9873FF"/>
    </svg> Добавить контакт</button>
  </template>
  <template id="newContact">   
    <div class="dropdown modal__new-contact__dropdown">
      <div class="dropdown__select">
        
      </div>
      <ul class="dropdown__list">
        <li class="dropdown__element dropdown__element_select">Телефон</li>
        <li class="dropdown__element">Email</li>
        <li class="dropdown__element">Facebook</li>
        <li class="dropdown__element">VK</li>
        <li class="dropdown__element">Другое</li>
      </ul>
    </div>
  </template>
  <template id="newContactInput">   
    <div class="modal__new-contact__wrapp">
      <input type="text" placeholder="Введите данные контакта" class="modal__new-contact__input">
      <span class="modal__new-contact__clear">
        <svg class="modal__new-contact__svg" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 0C2.682 0 0 2.682 0 6C0 9.318 2.682 12 6 12C9.318 12 12 9.318 12 6C12 2.682 9.318 0 6 0ZM6 10.8C3.354 10.8 1.2 8.646 1.2 6C1.2 3.354 3.354 1.2 6 1.2C8.646 1.2 10.8 3.354 10.8 6C10.8 8.646 8.646 10.8 6 10.8ZM8.154 3L6 5.154L3.846 3L3 3.846L5.154 6L3 8.154L3.846 9L6 6.846L8.154 9L9 8.154L6.846 6L9 3.846L8.154 3Z" fill="#B0B0B0"/>
        </svg>          
      </span>
    </div>
  </template>
<%- include('../layout/footer.ejs') %>